.idea
final_ranking.txt
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.swp
*.swo
*.swn

# Virtual environment
venv/
env/

# IDE and Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependency directories
node_modules/
dist/
build/

# excel files
*.xslx
*.xls